/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --cover-image: url("../images/cover-image-light.png");
  --cover-color: #FFF1F7;
  --card-heading-text-color: #353430;
  --acent-color: #FF8DCB;
  --acent-special-color: #FF0070;
  --main-heading-font-color: #F1B2CE;
  --main-text-font-color: #000028;
  --acent-text-color: #353430;
  --element-hidden: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --cover-image: url("../images/cover-image-light.png");
    --cover-color: #FFF1F7;
    --card-heading-text-color: #353430;
    --acent-color: #FF8DCB;
    --acent-special-color: #FF0070;
    --main-heading-font-color: #F1B2CE;
    --main-text-font-color: #000028;
    --acent-text-color: #353430;
    --element-hidden: none;
  }
}
/*Медиазапрос для пользователей, предпочитающих светлую тему. Для темной аналогичный
запрос не нужен, поскольку темная тема - основная*/